@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #FA3C3A;
  --primaryColor: #A23D48;
}

html {
  scroll-behavior: smooth;

}

body {
  overflow-x: hidden;
}

section,main,
footer {
  padding: 0 60px;
}

@media (max-width:768px) {

  section,
  footer {
    padding: 0 30px;
  }
}
.hover:hover{
    transform: scale(1.4, 1.4);
}
.gradient {
  background: rgb(250, 60, 58);
  background: radial-gradient(circle, rgba(250, 60, 58, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.secondDiv {
  border: 2px solid var(--mainColor);
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px var(--mainColor)
}
.about_section {
  background: rgb(250, 60, 58);
  background: linear-gradient(90deg, rgba(250, 60, 58, 1) 0%, rgba(254, 228, 228, 1) 36%, rgba(255, 255, 255, 1) 60%);
}
.text3d {
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
.beating-text {
  transform: scale(1, 1);
  animation-name: beating_text;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes beating_text {
  0% {
    transform: scale(1.1, 1.1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}
/*  */
.button {
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background-size: 400%;
  cursor: pointer;

}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 6;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  transition: all 0.475s;
}

.nav_buttons {
  display: flex;
  gap: 20px;
}

.nav_button_full,
.price_button_full {
  width: 7rem;
  height: 2.5rem;
}

.contact_button {
  width: 100%;
}

.nav_button_full {
  background: var(--mainColor);
  color: white;
}

.price_button_full {
  background: white;
  color: black;
}

.nav_button_full:hover,
.price_button_full:hover {
  color: white;
}

.nav_button_full::before,
.price_button_full::before {
  background: black;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}